<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Pick your Meals</title>
</head>

<body class="page">
	<h1>Loving Spoonful</h1>
	<table border="5" cellspacing="0" align="center">
		<tr>
			<td align="center" class="outer-box">
				<br><b><span class="white-txt">Meal Schedule</span></b><br><br>
			</td>
			<td align="center" class="outer-box">
				<br><b><span class="white-txt">Monday</span></b><br><br>
			</td>
			<td align="center" class="outer-box">
				<br><b><span class="white-txt">Tuesday</span></b><br><br>
			</td>
			<td align="center" class="outer-box">
				<br><b><span class="white-txt">Wednesday</span></b><br><br>
			</td>
			<td align="center" class="outer-box">
				<br><b><span class="white-txt">Thursday</span></b><br><br>
			</td>
			<td align="center" class="outer-box">
				<br><b><span class="white-txt">Friday</span></b><br><br>
			</td>
			<td align="center" class="outer-box">
				<br><b><span class="white-txt">Saturday</span></b><br><br>
			</td>
			<td align="center" class="outer-box">
				<br><b><span class="white-txt">Sunday</span></b><br><br>
			</td>
		</tr>
		<tr>
			<td align="center" class="outer-box">
				<b><span class="white-txt">BREAKFAST</span></b>
			</td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Monday Morning</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Tuesday Morning</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Wednesday Morning</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Thursday Morning</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Friday Morning</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Saturday Morning</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Sunday Morning</button></td>

			</td>
		</tr>
		</tr>
		<tr>
			<td align="center" class="outer-box">
				<b><span class="white-txt">LUNCH</span></b>
			</td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Monday Afternoon</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Tuesday Afternoon</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Wednesday Afternoon</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Thursday Afternoon</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Friday Afternoon</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Saturday Afternoon</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Sunday Afternoon</button></td>

			</td>
		</tr>
		<tr>
			<td align="center" class="outer-box">
				<b><span class="white-txt">DINNER</span></b>
			</td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Monday Night</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Tuesday Night</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Wednesday Night</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Thursday Night</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Friday Night</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Saturday Night</button></td>
			<td align="center"><button type="button" class="btn btn-primary btn-lg">Sunday Night</button></td>
		</tr>
		<tr>
			</td>
		</tr>
		
	</table>
	
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>